<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= subject %></title>

  <link rel="stylesheet" type="text/css" href="./_style.css" />
</head>
